/*landing page*/

* {
    font-family:Georgia, Times, 'Times New Roman', serif ;
    font-size: 22px;
}

.header{
    background-color: rgb(7, 148, 204);
    color: white;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding: 0.1em 0.1em;
    margin-top: 0px;
}

body{
    margin: auto;
   
}

.subheader{
    color: rgb(214, 37, 67);
    background-color: hwb(350 76% 0%);
    font-weight: 800;
    font-size: 32px;
}

img{
    height: 450px;
    width: auto;
    
}